body {
    margin: 0px;
}

header {
    padding: 20px 35px;
    height: 50px;
    background-color: black;
    color: white;
}

.profit {
    float: left;
}

nav {
    float: right;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    padding: 20px 15px;
    background-color: gray;
}

.item {
    margin: 10px;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

article {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 25px 20px;
}

.pic {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-top: 45px;
    padding-left: 55px;
}

footer {
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
}
